:root {
    /*--header-color: rgba(193, 246, 228, 0.85);*/
    --header-color: rgba(255, 228, 196, 0.505);
    --text-color: rgba(228, 190, 19, 0.948);;
}

* {
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    margin-left: 0;
    margin-right:0;
    
}

html {
    scroll-behavior: smooth;
}

header {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--header-color);
    margin-bottom: 20px;
   
}

main {
    display: flex;
    flex-wrap: wrap;
}

header {
    display: flex;
    flex-wrap: wrap;  
    padding: 20px 0 50px 0;
}

.website {
    font-size:
}

.header1 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    /* border:solid red 1px; */
    align-items: center;
    padding: 10px;
}

#main-logo {
    height: 120px;
}

.header2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center ;
    width: 100%;
    /* border:solid greenyellow 1px; */
}


#my-picture {
    display: flex;
    flex: 0 0 300px;
    justify-content: center;
    
    /* border: solid red; */
}

.my-name {
    display:flex;
    justify-content: flex-start;
    color:var(--text-color);
    font-weight: 400;   
    /* border: solid red; */
    font-size: 65px;
    align-items: center;
}

nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    /* border:solid red 1px;  */
}

nav a{
    padding: 20px 30px;
    margin: 20px 0;
    text-decoration: none;
    color: navy;
    font-size: 27px;
    font-weight:300;
    text-shadow: 5px 5px 5px var(--text-color);
    transition: 0.3s;
}

nav a:hover{
    font-size: 180%;
    color: rgba(216, 40, 70, 0.809);
}

nav a:active{
    font-size: 160%;
}

.my-name h1{
    font-weight: 300;
    color: rgba(241, 200, 15, 0.81);
}

main {
    margin: 0 200px;
}


h2 {
    font-size: 50px;
    font-weight: 450;
    padding-top: 30px;
    border-top: solid var(--text-color) 2px;
    margin: 0 0;
    color: var(--text-color);
    width:100%;
   
}

p {
    font-size: 25px;
    font-weight: 200;
}

#worksection {
    width:100%;
}

#work {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 50px auto;
    /* border: solid blue 2px; */
    max-width:1430px;
    
    
}

#work article {
    width: 49.5%;
    max-height: 30%;
    max-width: 600px;
    /* border: solid red 2px; */
    margin: 10px 0;
    flex: 1 1 700px;
    
}

#work .google {
    width: 100%;
    flex:1 1 900px;
    max-width: 100%;
   
}

#work img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
    transition: 0.3s;
}

#work h3 {
    position: relative;
    top: -120px;
    left: 15px;
    background-color: rgba(92, 90, 90, 0.696);
    color: white;
    padding: 10px;
    font-size: 35px;
    border-radius: 10px;
    max-width: fit-content;
}

#work a img:hover {
    transform: skew(2deg);
    color: var(--text-color);
    opacity: 0.7;
}

#work a img:active {
    transform: scale(90%);
}

main {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 20px;
}

#contact-me {
    width: 100%;
}

#contact-me p {
    font-size: 20px;
}

#contact-me ul {
    list-style: none;
    position: relative;
    left: -40px;
    margin-bottom: 200px;
}

#contact-me ul li{
    font-size: 20px;
}

footer {
    text-align: center;
    background-color: var(--header-color);
    padding:10px 0;
   
}

h3 {
    font-weight: 500;
}

footer p {
    font-size: 20px
}


@media screen and (max-width: 768px) {
    main,
    nav,
    header1,
    .header2 {
      flex-direction: column;
    }
  }