:root {
    --header-color: rgba(193, 246, 228, 0.85)
}

* {
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

header {
    background-color: var(--header-color);
    
}

#main-logo {
    font-size: 75px;
    font-family: ;
    font-style: italic;

}

header section {
    display: flex;
    justify-content: space-between;
}

header section nav {
    margin: 50px 100px 0 0;
    
}

header section nav ul {
    list-style-type: none;
    display: flex;
    margin-right: 100px;
   
}

header section nav ul li a{
    padding: 20px 20px;
    margin: 20px 0;
    text-decoration: none;
    color:rgba(0, 0, 128, 0.60);
    font-size: 27px;
    font-weight:300;
    
}

.my-name {
    font-size: 120px;
    justify-content: center;
    color:rgba(0, 0, 128, 0.70);
    
    
}

header section img {
    height: 150px;
    margin: 10px;
}

body {
   
}