:root {
    /*--header-color: rgba(193, 246, 228, 0.85);*/
    --header-color: white;
    --text-color: rgba(241, 200, 15, 0.81);;
}

* {
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    
}

header {
    background-color: var(--header-color);
    height: 900px;
   
}

#main-logo {
    height: 120px;
    margin: 50px 0;
}

header section {
    display: flex;
    justify-content: space-between;
}

header section nav {
    margin: 100px 100px;
    
}

header section nav ul {
    list-style-type: none;
    display: flex;
    margin-right: 100px;
   
}

header section nav ul li a{
    padding: 20px 30px;
    margin: 20px 0;
    text-decoration: none;
    color: navy;
    font-size: 27px;
    font-weight:300;
    text-shadow: 5px 5px 5px var(--text-color)
    
}

#my-picture {
    height: 450px;
}

.my-name {
    font-size: 65px;
    justify-content: space-around;
    color:var(--text-color);
    font-weight: 400; 
    
}

.my-name h1{
    font-weight: 300;
    color: rgba(241, 200, 15, 0.81);
}

main {
    margin: 0 200px;
}


h2 {
    font-size: 50px;
    font-weight: 450;
    padding-top: 30px;
    border-top: solid var(--text-color) 2px;
    margin: 0 0px;
    color: var(--text-color);
}

p {
    font-size: 30px;
    font-weight: 200;
}